.button {
  display: inline-block;
  padding: 15px 22px;

  font: 500 16px Roboto, Arial, sans-serif;
  text-decoration: none;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: .04em;
  color: #ffffff;

  background: $page-blue;
  border-radius: 8px;
  transition: background-color linear .2s;


  &:hover,
  &:focus {
    background-color: #03617c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  }
}